/*Stylesheet for login page*/

body {
  background-color: #35465c; /*Page background colour*/
}

h1{
	color: white;
}

h2 {
    color: white;
	margin-left: 40%;
}


input[type=text] { /*Styling for the username field*/
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  
  border-radius: 4px;
}
input[type=password] {/*styling for the password field*/
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  
  border-radius: 4px;
}
 input[type=submit], input[type=reset] {/*styling for the submit button*/
  background-color: #4CAF50;
   width: 35%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  
  margin-left: 30%; /*submit button will be positioned 30% of the way in from the left margin*/
}

form { /*The form has a set width*/
margin: 0 auto; 
width:800px;
}