#outer {
  width: 100%;
  text-align: center;
}
.inner {
  display: inline-block;
}

h1 {
    color: white;
	
}
.msgBtn {
  font-size: 30px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
}
.msgBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.msgBtn2 {
  font-size: 30px;
  
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  width:814px;
  height:100px;
}
.msgBtn2:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.msgBtn3 {
  font-size: 30px;
  
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  width:470px;
  height:100px;
}
.msgBtn3:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

body {
  background-color: #35465c;
}

.ui {
  margin: 10px auto;
  width: 1300px;
  height: 900px;
  background-color: #fdf;
  border-radius: 3px;

  
  overflow-y: auto;
}
.ui .userList {
  overflow-y: auto;
}

